@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;400;500&display=swap");
a {
  text-decoration: none;
  text-transform: uppercase;
  color: #27374c;
  cursor: pointer;
}

a:hover {
  color: #d6a41ae7;
  font-weight: bold;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.p-title {
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem 0;
  text-transform: uppercase;
}

.btn-important {
  display: inline-block;
  padding: 0.8rem 4rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-weight: bold;
  border: solid 2px #27374c;
  cursor: pointer;
}

.btn-important:hover {
  padding: 0.8rem 8rem;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  color: #27374c;
}

.btn-ver-carta {
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #d6a41ae7;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 1rem 0;
}

.btn-ver-carta:hover {
  color: #27374c;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

body #header-index #main-nav, body #header-inner #main-nav {
  background-color: #FFF8F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #header-index #main-nav #logo, body #header-inner #main-nav #logo {
  padding: 0;
}

body #header-index #main-nav #logo img, body #header-inner #main-nav #logo img {
  height: 50px;
}

body #header-index #main-nav ul, body #header-inner #main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

body #header-index #main-nav ul li, body #header-inner #main-nav ul li {
  padding: 0 1rem;
}

body #header-index #main-nav ul a.current, body #header-inner #main-nav ul a.current {
  font-weight: bold;
}

body #header-index #main-nav ul a.current:hover, body #header-inner #main-nav ul a.current:hover {
  color: #27374c;
  cursor: default;
}

.item-text-category {
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-top: 1rem;
}

.item-text-title {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 2rem 0;
  padding: 0 1rem;
}

.item-text-description {
  padding: 0 1rem;
}

.item-text-price {
  margin-top: auto;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-right: 1rem;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Spartan", sans-serif;
  scroll-behavior: smooth;
}

body {
  line-height: 1.6;
  background-color: #FFF8F8;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body #header-index {
  background: url("/img/sacro-main/sacro-main.jpeg") no-repeat center/cover;
  height: 80vh;
}

body #index-section-a {
  text-align: center;
  padding: 2rem;
  font-size: 1.2rem;
}

body #index-section-a-details {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 5rem;
  padding: 0 5rem;
  font-size: 1rem;
}

body #index-section-a-details i {
  color: #d6a41ae7;
}

body #index-section-a-details .index-section-a-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

body #index-section-a-details .index-section-a-description .p-title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body #index-section-b {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  gap: 1px;
  padding-top: 2rem;
}

body #index-section-b img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  position: relative;
  z-index: 1;
}

body #index-section-b img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  z-index: 3;
}

body #index-section-b .img-scale {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 2;
}

body #index-section-c {
  padding: 4rem 3rem;
  text-align: center;
}

body #menu-section-a {
  background-color: #fff;
  padding: 5rem 9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body #menu-section-a #menu-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 1px;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

body #menu-section-a #menu-items .item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  height: 300px;
}

body #menu-section-a #menu-items .item::after {
  content: "";
  position: absolute;
  display: block;
  background-color: #27374c;
  opacity: 0.9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
          transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
  -webkit-transition: -webkit-transform 3s cubic-bezier(0.2, 1, 0.3, 1);
  transition: -webkit-transform 3s cubic-bezier(0.2, 1, 0.3, 1);
  transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
  transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1), -webkit-transform 3s cubic-bezier(0.2, 1, 0.3, 1);
}

body #menu-section-a #menu-items .item:hover::after {
  -webkit-transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
          transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
}

body #menu-section-a #menu-items .item:hover img {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

body #menu-section-a #menu-items .item:hover .item-text {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

body #menu-section-a #menu-items .item-img {
  width: 100%;
  height: 100%;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  display: block;
  -webkit-transition: -webkit-transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
  transition: -webkit-transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
  transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
  transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1), -webkit-transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
}

body #menu-section-a #menu-items .item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

body #menu-section-a #menu-items .item-img::before {
  counter-reset: "";
  display: block;
  padding-top: 75%;
  overflow: hidden;
}

body #menu-section-a #menu-items .item .item-text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  text-align: center;
  z-index: 1;
  color: #FFF8F8;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1), -webkit-transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
  transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1), -webkit-transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
  transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1), transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
  transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1), transform 500ms cubic-bezier(0.2, 1, 0.3, 1), -webkit-transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

body #menu-section-a #menu-items .item .item-text .item-text-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  top: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body #menu-completo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}

body #menu-completo table {
  padding: 2rem;
  margin: 2rem;
  text-align: left;
  width: 70%;
  background-color: #FFF8F8;
}

body #menu-completo table th {
  color: #27374c;
}

body #menu-completo table .table-content {
  padding: 0.5rem 0 2rem 0;
}

body #menu-completo table .table-content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body #menu-completo table .table-content div p {
  margin: 0.2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #about-section-a {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  padding: 2rem;
  background-color: #fff;
}

body #about-section-a > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body #about-section-a > div > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body #about-section-a > div iframe {
  margin-top: 1rem;
}

body #about-section-a #about-section-aside #about-section-aside-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 2rem;
  height: 100%;
}

body #about-section-a #about-section-aside #about-section-aside-wrapper #about-section-aside-text-wrapper {
  margin-bottom: 5rem;
}

body #about-section-a #about-section-aside #about-section-aside-wrapper #about-section-aside-text-wrapper p {
  margin-top: 1rem;
}

body #about-section-a #about-section-aside #about-section-aside-wrapper #about-section-aside-img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  padding: 3rem;
}

body #about-section-a #about-section-aside #about-section-aside-wrapper #about-section-aside-img-wrapper > img {
  width: 32%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  position: relative;
  z-index: 1;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

body #about-section-a #about-section-aside #about-section-aside-wrapper #about-section-aside-img-wrapper > img:hover {
  -webkit-filter: none;
          filter: none;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  z-index: 3;
}

body #about-section-a #about-section-aside #about-section-aside-wrapper #about-section-aside-img-wrapper img:nth-child(2) {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  z-index: 2;
  -webkit-filter: none;
          filter: none;
}

body #about-section-a #about-section-aside #about-section-aside-wrapper #about-section-aside-img-wrapper img:nth-child(2):hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

body footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 3rem;
  background-color: #27374c;
  color: #FFF8F8;
  font-size: 0.8rem;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
}

body footer a {
  color: #FFF8F8;
  text-transform: lowercase;
}

body footer p {
  padding: 0.3rem 0;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #27374c;
  cursor: pointer;
}

a:hover {
  color: #d6a41ae7;
  font-weight: bold;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.p-title {
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem 0;
  text-transform: uppercase;
}

.btn-important {
  display: inline-block;
  padding: 0.8rem 4rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-weight: bold;
  border: solid 2px #27374c;
  cursor: pointer;
}

.btn-important:hover {
  padding: 0.8rem 8rem;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  color: #27374c;
}

.btn-ver-carta {
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #d6a41ae7;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 1rem 0;
}

.btn-ver-carta:hover {
  color: #27374c;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

body #header-index #main-nav, body #header-inner #main-nav {
  background-color: #FFF8F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #header-index #main-nav #logo, body #header-inner #main-nav #logo {
  padding: 0;
}

body #header-index #main-nav #logo img, body #header-inner #main-nav #logo img {
  height: 50px;
}

body #header-index #main-nav ul, body #header-inner #main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

body #header-index #main-nav ul li, body #header-inner #main-nav ul li {
  padding: 0 1rem;
}

body #header-index #main-nav ul a.current, body #header-inner #main-nav ul a.current {
  font-weight: bold;
}

body #header-index #main-nav ul a.current:hover, body #header-inner #main-nav ul a.current:hover {
  color: #27374c;
  cursor: default;
}

.item-text-category {
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-top: 1rem;
}

.item-text-title {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 2rem 0;
  padding: 0 1rem;
}

.item-text-description {
  padding: 0 1rem;
}

.item-text-price {
  margin-top: auto;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-right: 1rem;
}

@media only screen and (max-width: 600px) {
  * {
    font-family: 'Montserrat', sans-serif;
  }
  body #header-index #main-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  body #header-index #main-nav #logo img {
    height: 20px;
    margin-bottom: 0.5rem;
  }
  body #header-index #main-nav ul {
    width: 100%;
    text-align: center;
  }
  body #header-index #main-nav ul li {
    width: 100%;
    padding: 0 .05rem;
  }
  body #header-index #main-nav ul li a {
    font-size: 0.6rem;
  }
  body #header-index #index-hero {
    width: 100vw;
  }
  body #header-index #index-hero #header-index-content {
    text-align: center;
  }
  body #header-index #index-hero #header-index-content a {
    padding: 1.5rem;
  }
  body #header-inner #main-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  body #header-inner #main-nav #logo img {
    height: 20px;
    margin-bottom: 0.5rem;
  }
  body #header-inner #main-nav ul {
    width: 100%;
    text-align: center;
  }
  body #header-inner #main-nav ul li {
    width: 100%;
    padding: 0 .05rem;
  }
  body #header-inner #main-nav ul li a {
    font-size: 0.6rem;
  }
  body #index-section-a {
    font-size: 1rem;
  }
  body #index-section-a-details {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    margin-top: 5rem;
    padding: 0 2rem;
  }
  body #index-section-a-details .index-section-a-description {
    margin-bottom: 1.5rem;
  }
  body #index-section-a-details .index-section-a-description .p-title {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  body #index-section-b {
    display: none;
  }
  body #index-section-c {
    padding: 3rem;
  }
  body #menu-section-a {
    padding: 3rem;
  }
  body #menu-section-a #menu-items {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 2px;
  }
  body #menu-section-a #menu-items .item {
    height: auto;
  }
  body #menu-section-a #menu-items .item:nth-child(2), body #menu-section-a #menu-items :nth-child(3), body #menu-section-a #menu-items :nth-child(5), body #menu-section-a #menu-items :nth-child(6), body #menu-section-a #menu-items :nth-child(9), body #menu-section-a #menu-items :nth-child(10), body #menu-section-a #menu-items :nth-child(11), body #menu-section-a #menu-items :nth-child(12), body #menu-section-a #menu-items :nth-child(13), body #menu-section-a #menu-items :nth-child(15) {
    display: none;
  }
  body #menu-completo {
    font-size: 0.8rem;
  }
  body #menu-completo table {
    width: 85%;
  }
  body #about-section-a {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  body #about-section-a > div:nth-child(1) {
    display: none;
  }
  body #about-section-a #about-section-aside #about-section-aside-wrapper {
    padding-left: 0;
  }
  body #about-section-a #about-section-aside #about-section-aside-wrapper #about-section-aside-text-wrapper {
    margin-bottom: 1rem;
  }
  body #about-section-a #about-section-aside #about-section-aside-wrapper #about-section-aside-text-wrapper p {
    font-size: 0.8rem;
  }
  body #about-section-a #about-section-aside #about-section-aside-wrapper #about-section-aside-img-wrapper img:nth-child(1) {
    width: 100%;
    -webkit-filter: none;
            filter: none;
    padding: 2rem;
  }
  body #about-section-a #about-section-aside #about-section-aside-wrapper #about-section-aside-img-wrapper img:nth-child(1):hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  body #about-section-a #about-section-aside #about-section-aside-wrapper #about-section-aside-img-wrapper img:nth-child(2), body #about-section-a #about-section-aside #about-section-aside-wrapper #about-section-aside-img-wrapper img:nth-child(3) {
    display: none;
  }
  body #contact-form {
    font-size: 0.8rem;
  }
  body #contact-form #contact-form-wrapper {
    width: 85%;
  }
  body footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 1rem 2rem;
  }
  body footer div:nth-child(2) {
    margin-bottom: 1.5rem;
  }
  body footer p {
    padding: 0.2rem 0;
  }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
  * {
    font-family: 'Montserrat', sans-serif;
  }
  body #header-index #main-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body #header-index #main-nav #logo img {
    height: 30px;
  }
  body #header-index #main-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 80%;
  }
  body #header-index #main-nav ul li {
    padding: 1.5rem 0 1rem 0;
    font-size: 0.8rem;
  }
  body #header-index #index-hero {
    width: 100vw;
  }
  body #header-index #index-hero #header-index-content {
    text-align: center;
  }
  body #header-index #index-hero #header-index-content a {
    padding: 1rem;
  }
  body #header-inner #main-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body #header-inner #main-nav #logo img {
    height: 30px;
  }
  body #header-inner #main-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 80%;
  }
  body #header-inner #main-nav ul li {
    padding: 1.5rem 0 1rem 0;
    font-size: 0.8rem;
  }
  body #index-section-a {
    font-size: 1rem;
  }
  body #index-section-a-details {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    margin-top: 5rem;
    padding: 0 2rem;
  }
  body #index-section-a-details .index-section-a-description {
    margin-bottom: 1.5rem;
  }
  body #index-section-a-details .index-section-a-description .p-title {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  body #index-section-b {
    display: none;
  }
  body #index-section-c {
    padding: 3rem;
  }
  body #menu-section-a {
    padding: 3rem;
  }
  body #menu-section-a #menu-items {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  body #menu-section-a #menu-items .item:nth-child(2), body #menu-section-a #menu-items :nth-child(3), body #menu-section-a #menu-items :nth-child(6), body #menu-section-a #menu-items :nth-child(7), body #menu-section-a #menu-items :nth-child(9), body #menu-section-a #menu-items :nth-child(10), body #menu-section-a #menu-items :nth-child(11), body #menu-section-a #menu-items :nth-child(12), body #menu-section-a #menu-items :nth-child(13), body #menu-section-a #menu-items :nth-child(14) {
    display: none;
  }
  body #menu-completo {
    font-size: 0.8rem;
  }
  body #about-section-a {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  body #about-section-a > div:nth-child(1) {
    display: none;
  }
  body #about-section-a #about-section-aside #about-section-aside-wrapper {
    padding-left: 0;
  }
  body #about-section-a #about-section-aside #about-section-aside-wrapper #about-section-aside-text-wrapper {
    margin-bottom: 1rem;
  }
  body #about-section-a #about-section-aside #about-section-aside-wrapper #about-section-aside-text-wrapper p {
    font-size: 0.8rem;
  }
  body #about-section-a #about-section-aside #about-section-aside-wrapper #about-section-aside-img-wrapper img:nth-child(1) {
    width: 100%;
    -webkit-filter: none;
            filter: none;
    padding: 2rem;
  }
  body #about-section-a #about-section-aside #about-section-aside-wrapper #about-section-aside-img-wrapper img:nth-child(1):hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  body #about-section-a #about-section-aside #about-section-aside-wrapper #about-section-aside-img-wrapper img:nth-child(2), body #about-section-a #about-section-aside #about-section-aside-wrapper #about-section-aside-img-wrapper img:nth-child(3) {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */